:root {
  --ember-900: #ffa229;
  --ember-800: #eb8a4a;
  --ember-700: #ea3b2c;
  --ember-500: #981d10;
  --ember-200: #6a0606;

  --granite-900: #95ada8;
  --granite-700: #445451;
  --granite-300: #0e1318;
}

@font-face {
  font-family: 'Amarante';
  src: url('./assets/fonts/amarante/Amarante-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #000;
  color: var(--granite-900);
  font-family: 'Amarante', sans-serif;
  font-size: 1.5rem;
}

a {
  color: var(--ember-800);
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: var(--ember-900);
  }
}

img {
  width: 100%;
  border-radius: 1rem;
}

li {
  list-style-type: square;
  padding: 0.5rem 0;
}

hr {
  border: none;
  border-top: 5px solid var(--granite-300);
  width: 50%;
  margin: 3rem 0;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--granite-700);
}

/* SECTION STYLING */



.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  height: 100%;
  padding: 0 5rem;
}

.section-content {
  color: var(--granite-900);
  max-width: 800px;

  h2 {
    margin-bottom: 1rem;
  }
}

.section-content p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

.block {
  height: 32rem;
}

@layer reset {
    body, p {
        margin: 0;
        padding: 0;
    }
}

@layer primevue {
  :root {
    --p-button-primary-background: red;
  }
}